* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: MullerRegular;
    src: url("../fonts/MullerRegular.otf") format("otf");
}
@font-face {
    font-family: MullerBold;
    src: url("../fonts/MullerBold.otf") format("otf");
}
@font-face {
    font-family: MullerExtraBold;
    src: url("../fonts/MullerExtraBold.otf") format("otf");
}
@font-face {
    font-family: MullerBlack;
    src: url("../fonts/MullerBlack.otf") format("otf");
}

body {
    font-family: MullerRegular, sans-serif;
}

.header {
    box-shadow: 0 3px 14px 2px rgba(152, 152, 152, 0.2);
    padding: 16px 0 15px 0;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.logo {
    cursor: pointer;
}

.cart {
    cursor: pointer;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {

}

.menu ul {
    display: flex;
    width: 489px;
    justify-content: space-between;
    list-style: none;
}

.menu-item a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(164, 107, 0);
}

.main {
    margin: 132px 0 81px 0;
}

.main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-info {
    max-width: 622px;
}

.main-info h1 {
    font-size: 45px;
    font-family: MullerExtraBold, sans-serif;
    line-height: 1.222;
}

.double-title {
    color: rgb(185, 145, 80);
}

.double-title span {
    color: #ffaf18;
}

.main-advantage {
    display: flex;
    margin-top: 13px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantage {
    max-width: 306px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 47px;
}

.advantage-info-text {
    margin-left: 16px;
}

.advantage-title {
    font-size: 16px;
    font-family: MullerExtraBold, sans-serif;
    color: rgb(255, 175, 24);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.advantage-description {
    font-size: 16px;
    color: rgb(185, 145, 80);
}

.btn-action {
    margin-top: 60px;
}

.btn {
    background-color: rgb(255, 175, 24);
    width: 224px;
    height: 60px;
    cursor: pointer;
    outline: none;
    border: 0;
    padding: 22px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: MullerBold, sans-serif;
    color: rgb(56, 36, 0);
}

.products {
    padding: 80px 0 120px 0;
}

.products-item-titles {
    font-size: 35px;
    font-family: MullerBold, sans-serif;
    color: rgb(189, 152, 92);
    text-align: center;
}

.products-items {
    display: flex;
    margin-top: 35px;
    flex-wrap: wrap;
    justify-content: space-between;

}

.prod-items {
    width: 282px;
    box-shadow: 0 3px 14px 2px rgba(152, 152, 152, 0.2);
    text-align: center;
    padding: 15px 20px;
    box-sizing: border-box;
    margin-top: 24px;
}

.products-card-img {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products-card-text-title {
    font-size: 18px;
    font-family: MullerBold, sans-serif;
    color: rgb(56, 36, 0);
}

.products-card-text-description {
    font-size: 14px;
    color: rgb(24, 26, 26);
    line-height: 1.286;
    height: 49px;
    margin: 14px 0 15px 0;
}

.prod-items .btn {
    width: 242px;
    height: 50px;
    padding: 17px;
}

.order {
    padding: 120px 0 115px 0;
    overflow: hidden;
}

.order .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.order-text {
    max-width: 384px;
}

.order-text-title {
    font-size: 35px;
    font-family: MullerExtraBold, sans-serif;
    margin-bottom: 65px;
}

.order-text-message {
    font-size: 16px;
    color: rgb(185, 145, 80);
    line-height: 1.5;
}

.order-form {
    margin-left: 122px;
    max-width: 330px;
}

.order-input {
    border-width: 1px;
    border-color: rgb(185, 145, 80);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    width: 330px;
    font-size: 18px;
    color: rgb(157, 115, 35);
    padding: 23px 22px 24px 22px;
    margin-bottom: 24px;
    box-sizing: border-box;
    height: 60px;
    outline: 0;
}

.order-input::placeholder {
    color: rgb(203, 168, 110);
}

.order .btn {
    width: 330px;
    height: 60px;
}

.order-img {
    width: 282px;
    position: relative;
    margin-left: 78px;
}

.order-img img {
    position: absolute;
    bottom: -35px;
    left: 0;
}

.footer {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 14px 2px rgba(152, 152, 152, 0.2);
    padding: 16px 0;
}

.footer .container {
    display: flex;
    align-items: center;
}

.order-section {
    font-size: 12px;
    color: rgb(186, 179, 179);
    margin-left: 358px;
}

.burger {
    display: none;
}

.close {
    display: none;
}